apache-airflow
pandas==1.3.4
mailchimp3==3.0.14
slackclient==2.9.3
slack_sdk
altair==4.1.0
h3==3.7.1
gspread==3.6.0
geopandas==0.8.1
Pillow==8.2.0
gspread-dataframe
fastai==2.3.1
geojson==2.5.0
pyjarowinkler==1.8
cloudinary==1.23.0
jellyfish==0.8.2
ImageHash==4.2.0
altair-saver==0.5
oauth2client==4.1.3
timeout_decorator==0.5.0
textdistance==4.2.1
py2neo==2020.1.1
airtable-python-wrapper
emot==2.1
negspacy==1.0.0
vptree==1.2
pycountry==20.7.3
wikipedia==1.4.0
pyspellchecker
pymongo
neo4j
emoji
stop-words
